.cart-list {
  max-width: 1000px;
}

.cart-total {
  display: flex;
  padding-block: 1rem;
  gap: 2rem;
  align-items: center;
  justify-content: flex-end;

  & p {
    font-weight: 500;
    font-size: 1.125rem;
  }

  & > button {
    width: max-content;
    padding: 0.5rem 1rem;
  }
}

.empty-cart {
  text-align: center;
  padding-block: 2rem;
}

.bought {
  width: 90%;
  max-width: 500px;
  text-wrap: balance;
  text-align: center;
  margin-top: 10rem;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  box-shadow: var(--shadow-m);

  &:popover-open {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-self: center;
    align-items: center;
  }

  & > button {
    width: max-content;
    padding: 0.25rem 1rem;
  }
}
