nav {
  height: var(--nav-height);
  z-index: 10;
  background-color: var(--background);
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: var(--shadow-m);

  & li {
    list-style: none;

    & a.active {
      font-weight: 600;
    }

    & a:hover:not(.active) {
      color: var(--accent-dark);
    }
  }
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  height: 100%;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 1.5rem;
  text-transform: capitalize;
  order: 1;

  @media only screen and (max-width: 800px) {
    display: none;
    order: 0;
  }
}

.nav-logo {
  order: 0;

  @media only screen and (max-width: 800px) {
    order: 1;
  }
}

.nav-hamburger {
  height: 2.5rem;
  width: 2.5rem;
  padding: 0;

  @media only screen and (min-width: 801px) {
    display: none;
  }
}

.mobile-menu {
  position: absolute;
  top: var(--nav-height);
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: var(--background);
  min-height: calc(100vh - var(--nav-height));

  & .nav-links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-transform: capitalize;
    font-size: 1.5rem;
  }
}
