.nav-cart {
  display: flex;
  height: 100%;

  & button {
    height: 100%;

    &:hover {
      box-shadow: var(--shadow-m);
    }
  }
}

.nav-cart-content {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding-inline: 1rem;
}
