/* Footer */
footer,
nav {
  width: 100%;
}

footer {
  border-top: 1px solid white;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  height: 100%;
  padding-block: 1rem;
}

.footer-links {
  display: flex;
  gap: 1rem;
  text-transform: capitalize;

  & a:hover {
    transform: scale(1.125);
  }
}

/* Navbar */
