.product-list-section {
  text-align: center;
  padding-block: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  justify-items: center;
}

.product {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 0.5rem;
  width: 100%;
  position: relative;
  justify-content: space-between;
  padding: 1rem 2rem;
  overflow: hidden;
  text-align: center;
  text-wrap: balance;

  &:hover {
    cursor: pointer;
    border-color: black;
    box-shadow: var(--shadow-m);
  }
}

.product-image-wrapper {
  position: relative;
  width: 100%;
  height: 200px;
  flex-shrink: 0;
}

.product-card-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
