.home-products {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 2rem;
  gap: 2rem;

  @media screen and (max-width: 1000px) {
    grid-template-columns: 1fr;
  }
}

.home-product-section {
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 0.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  width: 100%;
  gap: 1rem;
  padding: 1rem;
  aspect-ratio: 1/1;
  max-height: 30svh;
  text-transform: capitalize;
  text-align: center;

  &:hover {
    border-color: black;
    box-shadow: var(--shadow-m);
  }
}

.home-product-item {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
