button {
  all: unset;
  cursor: pointer;
  padding: 0.125rem 0.25rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.btn-cta {
  background-color: hsl(195, 53%, 79%);
  border-color: black;
  color: black;

  &:hover {
    background-color: hsl(195, 53%, 84%);
  }
}

.btn-secondary {
  background-color: inherit;
  color: inherit;
  border-color: rgba(0, 0, 0, 0.25);

  &:hover {
    border-color: black;

    &:disabled {
      border-color: rgba(0, 0, 0, 0.25);
    }
  }
}

.btn-delete {
  background-color: rgb(192, 57, 43);
  color: white;
  &:hover {
    background-color: rgba(192, 57, 43, 0.85);
  }
}
