.hero-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: calc(80svh - var(--nav-height));
  padding-top: 1rem;

  & h1 {
    text-transform: uppercase;
  }
}

.hero-text {
  text-wrap: balance;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  gap: 2rem;
}

.hero-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  & p {
    font-size: 1.25rem;

    & span {
      font-weight: 600;
    }
  }
}

.hero-image {
  display: grid;
  place-items: center;
  position: relative;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  min-height: 2rem;
  height: auto;
  width: 100%;
  max-width: 20rem;
}

.hero-link {
  display: grid;
  place-items: center;
  width: 100%;
  height: 2.5rem;
}
