.hero-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: calc(80svh - var(--nav-height));
  padding-top: 1rem;
  margin-bottom: 1rem;

  & h1 {
    text-transform: uppercase;
  }

  @media screen and (max-width: 1000px) {
    grid-template-columns: 1fr;
  }
}

.hero-text {
  text-wrap: balance;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  gap: 2rem;
}

.hero-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  & p {
    font-size: 1.25rem;

    & span {
      font-weight: 600;
    }
  }

  @media only screen and (max-width: 581px) {
    & p {
      font-size: 1.125rem;
    }
  }
}

.hero-image {
  display: grid;
  place-items: center;
  position: relative;

  @media screen and (max-width: 1000px) {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.825);
      z-index: 1;
    }

    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    max-height: 80svh;
    width: 100%;
    z-index: -1;
  }
}

.hero-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  min-height: 2rem;
  height: auto;
  width: 100%;
  max-width: 20rem;
}

.hero-link {
  display: grid;
  place-items: center;
  width: 100%;
  height: 2.5rem;
}
