html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-size: 1rem;
  font-family: var(--font-outfit), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-geist-mono), monospace;
  font-weight: 800;
}

h1 {
  font-size: 4rem;
  line-height: 1.125;

  @media only screen and (max-width: 581px) {
    font-size: 2rem;
  }
}

h2 {
  font-size: 1.5rem;
  line-height: 1.125;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  flex-grow: 1;
  padding-top: var(--nav-height);
}

:root {
  --nav-height: 9svh;

  --shadow-m: 0 1rem 2rem rgba(0, 0, 0, 0.075);

  --foreground: #171717;
  --background: #fafafa;

  --accent: lightblue;
  --accent-dark: hsl(195, 53%, 39%);
}
