.layout {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.wrapper {
  max-width: 1366px;
  width: 100%;
  padding: 0 1rem;
  margin: 0 auto;
}

.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(80svh - var(--nav-height));
  gap: 1rem;
}
